<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1><%= @estimate[:customer_name] %></h1>
    <h1><%= @estimate[:customer_email] %></h1>
    <p>
   
    
      Sample mail sent using smtp.
    </p>
  </body>
</html>